/* Styles for the header */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  /* Đảm bảo menu luôn ở trên cùng */
  transition: transform 0.3s ease;
  /* Hiệu ứng trượt */
}

/* Class to hide the header when scrolling down */
.header-hidden {
  transform: translateY(-70%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}